.learn-more-section {
  height: 615px;
  background-color: #e9e9e9;

  .left-side {
    width: 30%;
    height: inherit;
    float: left;

    background-image: url('../images/content/learn-more-gear.png');
    background-repeat: no-repeat;
    background-position: right center;
  }

  .right-side {
    width: 70%;
    height: inherit;
    float: right;
    padding-left: 100px;

    background-image: url('../images/backgrounds/bg-learn-more.png');
    background-repeat: no-repeat;

    .section-header {
      margin-bottom: 10px;

      h2 {
        text-align: left;
        padding-bottom: 30px;

        color: #fff;
        span {
          color: #7cc576;
        }
      }

      h4 {
        padding-bottom: 20px;

        text-align: left;
        font-size: 16px;
      }
    }

    .items {
      h4 {
        text-align: left;
        padding: 8px 52px;

        font-size: 16px;

        background-image: url('../images/icons/learn-more-item-icon.png');
        background-repeat: no-repeat;
        background-position: left center;
      }
    }

    .button {
      margin-top: 45px;
      width: 165px;
    }
  }
}