.view-portfolio-section {
  background-image: url('../images/backgrounds/bg-view-portfolio-section.png');
  min-height: 530px;

  .page-title {
    padding: 120px 0 55px;

    h1 {
      margin-bottom: 40px;
    }
  }

  .button {
    margin: 0 auto;
  }
}